@model PuppyBreeding.Models.MotherDetail

@{
    ViewBag.Title = "Details";
}
<div class="dataContainer">
    <div class="viewTitleContainer">
        <h2>Details</h2>
    </div>
        <div>
            <h4>MotherDetail</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.MotherId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MotherId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MotherName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MotherName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MotherWeight)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MotherWeight)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MotherAge)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MotherAge)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.MotherId }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>