@model IEnumerable<PuppyBreeding.Models.MotherListItem>

@{
    ViewBag.Title = "Index";
}

<div class="dataContainer">
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MotherId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotherWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotherAge)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MotherId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MotherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MotherWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MotherAge)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MotherId }) |
            @Html.ActionLink("Details", "Details", new { id = item.MotherId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MotherId })
        </td>
    </tr>
    }

</table>
</div>